/* static/css/base.css */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
.container li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
.newpost{
    padding-top: 5px;
    padding-right: 5px;
    align-self: baseline;
    text-align: right;
}
.posts{
    font-size: 20px;
    text-align: left;
    height: 50%;
}
.posts ul{
    padding-top: 30px;
}
.container {
    background-color: aqua;
    display:flex;
    align-items: center;
    border-bottom: 1px solid black;
}
.content{
    border-left: 2px solid lightgrey;
    border-right: 2px solid lightgray;
    margin: 30px auto;
    width: 50%;
}
.content-right{
    margin-left: auto;

}