<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
        <title>Django blog</title>
        
    </head>
    <body>
        <header>
        <div class="container">
            <div class="left">
                <h2><a href="{% url 'blog:home' %}">Django blog</a></h1>
            </div>
            <div class="right">
            <ul>
                {% if user.is_authenticated %}
                    <li>Hi {{user.username}}</li>
                    <li><a href="{%url 'logout' %}">Log out</a></li>

                {% else %}
                    <li><a href="{%url 'login'%}">Log In</a></li>
                {% endif %}
            </ul>
            </div>
        </div>   
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>