<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
        <title>Django blog</title>
        
    </head>
    <body>
        <header>
            <div class="nav-left">
                <h1><a href="{% url 'blog:home' %}">Django blog</a></h1>
            </div>
            <div class="nav-right">
                <h1><a href="{%url 'blog:new_post' %}"> New Post</a></h1>
            </div>   
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>